# Dependencies
node_modules/
.DS_Store

# Environment variables
.env
.env.local

# Database
server/db/database.sqlite
server/db/*.sqlite-journal

# Uploads (Images)
server/uploads/screenshots/

# Build folders
client/dist/
desktop/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
